@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: Inter, sans-serif;
    --font-raleway: Raleway, sans-serif;
    --font-zalando: "Zalando Sans Expanded", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
}
