@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: Inter, sans-serif;
}

@utility no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
